numpy>=1.25.0
pandas>=2.3.3
scikit-learn>=1.2.2
matplotlib>=3.10.6
seaborn>=0.13.2
streamlit==1.23.1
altair>=5.5.0,<6
blinker>=1.0.0,<2
cachetools>=4.0,<6
click>=7.0,<9
importlib-metadata>=1.4,<7
markdown-it-py>=4.0.0
mdurl>=0.1.2
pygments>=2.19.2
rich>=14.1.0
